.signup ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 8%;
    /* 부모의 값을 기준으로 이동 (fixed는 고정) */
    position: absolute; 
    right: 25px;
    top: 3px;

}
.singup ul li {
    margin-left: 5px;
    padding-left: 5px;

}
.text {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.text a:hover{
    text-decoration: none;
    color: #7e85a5;
}


.logo img{
    width: 135px;
    height: 125px;
}

.user img {
    width: 125px;
    height: 125px;
}

#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 86%;
}
#menu ul li{
    margin-top: 18px;
}
#menu .textmenu {
    margin-top: 95px;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #3a3e58;
}

.textmenu a:hover{
    color: #7e85a5;
}

.user {
    position: relative;
    left: 12px;
}

.textsearch {
    margin-left: 15px;
    position: relative;
    bottom: 23px;
}


.button-img {
    margin-left: 15px;
    background-color: #ffffff;
    border: #FFFFFF;
}

.button-img img {
    width: 46px;
    height: 48px;
    padding: 0;
}



.keyword {
    width: 360px;
    height: 48px;
    border: 3px solid #464b6b;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Do Hyeon', sans-serif;
    padding-left: 3%;
}

.keyword::placeholder {
    color: #b8b8b8;
}

#small-calender h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 11px;
    width: 89%;
    height: 100px;
    background-color: #D5DDE9;
    font-size: 60px;
    font-family: 'Schoolbell', cursive;
    color: #464b6b;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #464b6b;
    margin-bottom: 5px;
}

.small-calender-date ul {
    list-style: none;
}

.small-week {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.small-week li {
    width: 100%;
    text-transform: uppercase;
    font-family: 'Snippet', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.small-day {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.small-day li {
    border: 2px solid #464b6b;
    width: 100%;
    height: 80px;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 3px;
    padding-left: 5px;
    font-family: 'Snippet', sans-serif;
    font-weight: bold;
    font-size:14px;
}

.small-date {
    width: 150px;
    
}

.sun {
    color: #DA5B5B;
}

.sat {
    color: #415CB9;
}

.small-date:hover {
    background-color: #e1e8f3;
}
.small-other {
    color: #000000;
    background-color: #f5f5f5;
}
