.signup ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 8%;
    /* 부모의 값을 기준으로 이동 (fixed는 고정) */
    position: absolute; 
    right: 25px;
    top: 3px;

}
.singup ul li {
    margin-left: 5px;
    padding-left: 5px;

}
.text {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.text a:hover{
    text-decoration: none;
    color: #7e85a5;
}


.logo img{
    width: 135px;
    height: 125px;
}

.user img {
    width: 125px;
    height: 125px;
}

#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 86%;
}
#menu ul li{
    margin-top: 18px;
}
#menu .textmenu {
    margin-top: 95px;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #3a3e58;
}

.textmenu a:hover{
    color: #7e85a5;
}

.textsearch {
    margin-left: 15px;
}


.button-img {
    margin-left: 15px;
    background-color: #ffffff;
    border: #FFFFFF;
}

.button-img img {
    width: 46px;
    height: 48px;
    padding: 0;
}

.keyword {
    width: 360px;
    height: 48px;
    border: 3px solid #464b6b;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Yeon Sung', cursive;
    padding-left: 3%;
}