
header {
    text-align: center; /* 글자 가운데 정렬 */
    background-color: #d5dde9;
    width: 99.8%;
    height: 140px;
    border: 2px solid #555A74;
}

header h1 ul {
    list-style: none; /* ul 부분 스타일 없애기 */
    display: flex; /* li 수평으로 놓기 */
    justify-content: space-between;
    margin: 0;
    font-family: 'Schoolbell', cursive;
    font-size: 70px;
    color: #333649;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
     /* 가운데 정렬 (left, right 값에 모두 auto를 주는 경우 양 옆에 같은 값을 준다)*/
}
/* #calender-date {
    border: 2px solid #000000;
} */
#calender-date2 .week2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}
.week2 li{
    list-style: none;
    text-transform: uppercase; /* 소문자 -> 대문자 */
    font-family: 'Snippet', sans-serif;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-left: 5px;
}  
.sun2 {
    color: #DA5B5B;
}
.sat2 {
    color: #415CB9;
}

#calender-date2 .day2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Snippet', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

#calender-date2 .day2 .date2 {
    border: 2px solid #555A74;
    width: 100%;
    height: 120px;
    margin: 0;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 7px;
}

.date2:hover {
    background-color: #e1e8f3;
}

.other-month2 {
    color: #000000;
    background-color: #e6e6e6;
}



